# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=ckf2"

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure Fila_Brasil_Colonia

start GHMattiMySQL

start _core
start _admin
start _creator
start _inventory
start _selector

start blip_info
start yume_blips
start vrp_notify

start nav_mercadinho
start hpp_skinshop
start np_skinshop
start hpp_banking
start hpp_sellvehs
start hpp_garages
start hpp_preset
start hpp_utils
start hpp_houses
start hpp_chests
start hpp_rentvehs
start hpp_arsenal
start hpp_hud
start hpp_carhud
start hpp_anims
start hpp_identity
start hpp_legacyfuel
start hpp_police
start hpp_carschest
start hpp_barbershop
start hpp_mechanic
start hpp_robbery
start hpp_moneywash
start hpp_racing
start hpp_craft
start hpp_selldrugs
start hpp_hackerjob
start hpp_vips
 #start hpp_log # MEMORY LEAKING
#start hpp_anticheat # MEMORY LEAKING
start hpp_loot
start hpp_tattoos
start hpp_craftammo
start hpp_vehtuning
start hpp_criminalrecord
start hpp_call
start hpp_rouboarmas
start hpp_contraband
start hpp_toogle
start hpp_ammunation
start hpp_motorista
start hpp_trucker

#start tokoradio #DEBUG 
#start tokovoip_script #DEBUG

#start register_account
start fcustoms
start vrp_sounds

start vrp_doors
start vrp_admin_id

start mysql-async #DEBUG 
start gcphone #DEBUG 

#jobs
start garbageman #DEBUG 
start dumptrash #DEBUG 

#maps
start high_hospital #DEBUG
start high_elev_hospital #DEBUG 
start fivem-ipl #DEBUG 
start hoppe_lombada #DEBUG
start nubank #DEBUG
start favelafixbarragem #DEBUG
start favelafix_interior #DEBUG 
start mecanica #DEBUG 
start moretree1 #DEBUG
start lafa2knoportals #DEBUG
start factory #DEBUG
start interiores #DEBUG
start poolg #DEBUG
start DPPolice #DEBUG
start bahamaMama #DEBUG
start lafa2k_modernhouse #DEBUG
start motel2 #DEBUG
start direito #DEBUG
start hackerspace #DEBUG

start brasilcolonia #DEBUG
start lafa2kpraca #DEBUG 

#start LRP-CarHUD
start nav_extras #DEBUG

start vSync #DEBUG 
start vrp_roupas #DEBUG
start customclothes #DEBUG

#Route
start IronRoute #DEBUG
start IronRouteAntenna #DEBUG 
start GunPowderRouteBeach #DEBUG 
start GunPowderRoute #DEBUG 
start PoliceRoute #DEBUG
start MechanicRoute #DEBUG

#cars
start vrp_veiculos #DEBUG 
start lux_vehcontrol #DEBUG 
start bmw1200 #DEBUG  
start m4sport #DEBUG
start KawasakiH2R #DEBUG 
start R35 #DEBUG

#startserver
#start startserver #DEBUG 
start b2k-minimap #DEBUG 


###########################hypnonema#######################################
#start hypnonema
#start hypnonema-map-observatory

add_ace identifier.steam:steam:11000013e33531e "command.hypnonema" allow
add_ace identifier.steam:11000013e33531e "command.hypnonema" allow

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay, brasil"
sets Developer "github.com/HoppeDevz"
sets Discord ""
# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "pt-BR"
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "Hpp_Fivem"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon iconserver.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# enable OneSync with default configuration (required for server-side state awareness)
onesync_enabled 1

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey ""

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey